* {
  box-sizing: border-box;
}
.greetings {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.calculator-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.link {
  width: 200px;
  height: 100px;
  margin: 5px;
}

.display {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
}

.calculator-interface {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.button {
  width: 50px;
  height: 50px;
  background-color: #bbb;
}
